/* 
reset 
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* 
caratteristiche generali  
*/
body {
    color: #8A8A8A;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.radius {
    border-radius: 10px;
}

.mar-bot {
    margin-bottom: 30px;
}

/* 
titoli 
*/
h2, h3{
    font-weight: normal;
}

h1 {
    color: black;
    font-size: 37px;
}

h3 {
    color: black;
    margin-bottom: 5px;
}

/* 
contenitore principale 
*/
.contenitore {
    margin: auto;
    max-width: 1100px;
}

/* 
header  
*/
#img-logo {
    height: 75px;
    padding-right: 20px;
    border-right: 1px solid #8A8A8A;
}

li {
    display: inline-block;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #8A8A8A;
}

/* 
prima section  
*/
.hero {
    background-image: url(../img/banner.jpg);
    background-position: center;
    min-height: 450px;
    padding: 290px 500px 0px 40px;
    color: white;
    box-shadow: 0 0 0 300px  rgba(0,0,0,.2) inset;
}

/* 
seconda section  
*/
.col {
float: left;
width: 20%;
}

.cont-img {
    background-color: black;
    margin-bottom: 10px;
    height: 190px;
}

.img-col {
    width: 100%;
    height: 190px;
    object-fit: cover;
    opacity: 0.8;
}

.col-middle {
    width: calc(60% - 60px);
    margin: auto 30px;
}

/* 
footer 
*/
footer {
    text-align: center;
    color: black;
}

.heart {
    color: red;
}
