/* reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* caratteristiche generali  */
body {
    color: #8A8A8A;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.rounded-corner {
    border-radius: 10px;
}

.margin-bottom {
    margin-bottom: 30px;
}

/* contenitore principale */
.contenitore {
    margin: auto;
    max-width: 1100px;
}

/* header  */
#img-logo {
    height: 75px;
}

li {
    display: inline-block;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #8A8A8A;
}

/* prima section  */
.hero {
    background-image: url(../img/banner.jpg);
    background-position: center;
    min-height: 450px;
    padding: 290px 500px 0px 40px;
    color: white;
}

h2, h3{
    font-weight: normal;
}

/* seconda section  */

h1 {
    color: black;
    font-size: 37px;
}

/* div floattanti  */

.col {
float: left;
width: 20%;
}

.img-col {
    width: 100%;
    height: 190px;
    object-fit: cover;
    margin-bottom: 10px;
}

.col-middle {
    width: calc(60% - 60px);
    margin: auto 30px;
}

h3 {
    color: black;
    margin-bottom: 5px;
}
/* footer  */
footer {
    min-height: 45px;
    background-color: #8801fe;
}
