/* reset */
* {
    margin: 0px;
    padding: 0px;
    border-style: border-box;
}

body {
    color: #8A8A8A;
    font-family: 'Montserrat', sans-serif;
}

/* contenitore generico */
.contenitore {
    margin: auto;
    max-width: 1100px;
}

/* header  */
#img-logo {
    height: 75px;
}

ul {
    margin: 40px 0;
}

li {
    display: inline-block;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #8A8A8A;
}

/* prima section  */
.hero {
    min-height: 500px;
    background-color: #e1d67a;
}

/* seconda section  */
.leadership {
    min-height: 650px;
    margin: 30px 0;
    background-color: blue;
}

/* div floattanti  */
.cont-top {
    min-height: 90px;
    margin-bottom: 30px;
    background-color: #abcfe7;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.col {
float: left;
width: 20%;
min-height: 500px;
background-color: #abcfe7;
}

.col-middle {
    width: calc(60% - 60px);
    margin: auto 30px;
}

/* footer  */
footer {
    min-height: 45px;
    background-color: #8801fe;
}
